In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/nilaymenon/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('fake reviews dataset.csv')

In [3]:
df.rename(columns = {'text_':'review'}, inplace = True)
df

,category,rating,label,review
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,I had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,I wasn't sure exactly what it would be. It is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"You can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,I liked nothing about this dress. The only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,I work in the wedding industry and have to wor...

In [4]:
df['category'].unique()

array(['Home_and_Kitchen_5', 'Sports_and_Outdoors_5', 'Electronics_5',
       'Movies_and_TV_5', 'Tools_and_Home_Improvement_5',
       'Pet_Supplies_5', 'Kindle_Store_5', 'Books_5', 'Toys_and_Games_5',
       'Clothing_Shoes_and_Jewelry_5'], dtype=object)

In [5]:
df['rating'].unique()

array([5., 1., 3., 2., 4.])

In [6]:
df['label'].unique()

array(['CG', 'OR'], dtype=object)

In [7]:
group_rating = df.groupby('label')['rating'].mean()
group_rating

label
CG    4.259893
OR    4.253265
Name: rating, dtype: float64

In [8]:
df['len_review'] = df['review'].apply(lambda x: len(x.strip()))
df
review_len_per_group = df.groupby('label')['len_review'].mean()
review_len_per_group

label
CG    305.528195
OR    396.969579
Name: len_review, dtype: float64

In [9]:
df['review'] = df['review'].apply(lambda x: x.lower())

In [10]:
def letter_pairs_freq(word):
    pairs = [word[i:i+2] for i in range(len(word)-1)]
    pair_freq = {}
    for pair in pairs:
        if pair in pair_freq:
            pair_freq[pair] += 1
        else:
            pair_freq[pair] = 1
    return pair_freq

df['letter_pairs_frequency'] = df['review'].apply(letter_pairs_freq)
df['letter_pairs_number'] = df['letter_pairs_frequency'].apply(lambda x: list(x.values()))
df

,category,rating,label,review,len_review,letter_pairs_frequency,letter_pairs_number
0,Home_and_Kitchen_5,5.0,CG,"love this! well made, sturdy, and very comfor...",75,"{'lo': 2, 'ov': 2, 've': 4, 'e ': 2, ' t': 1, ...","[2, 2, 4, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. i...",80,"{'lo': 1, 'ov': 1, 've': 2, 'e ': 6, ' i': 2, ...","[1, 1, 2, 6, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, ..."
2,Home_and_Kitchen_5,5.0,CG,this pillow saved my back. i love the look and...,67,"{'th': 3, 'hi': 2, 'is': 2, 's ': 2, ' p': 2, ...","[3, 2, 2, 2, 2, 2, 2, 2, 4, 2, 1, 1, 1, 1, 2, ..."
3,Home_and_Kitchen_5,1.0,CG,"missing information on how to use it, but it i...",81,"{'mi': 1, 'is': 2, 'ss': 1, 'si': 1, 'in': 2, ...","[1, 2, 1, 1, 2, 1, 1, 5, 1, 2, 2, 1, 1, 2, 1, ..."
4,Home_and_Kitchen_5,5.0,CG,very nice set. good quality. we have had the s...,85,"{'ve': 3, 'er': 1, 'ry': 1, 'y ': 1, ' n': 3, ...","[3, 1, 1, 1, 3, 1, 1, 1, 5, 2, 2, 2, 1, 2, 1, ..."
...,...,...,...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,i had read some reviews saying that this bra r...,1694,"{'i ': 18, ' h': 10, 'ha': 13, 'ad': 10, 'd ':...","[18, 10, 13, 10, 26, 9, 19, 8, 24, 5, 6, 7, 48..."
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,i wasn't sure exactly what it would be. it is ...,1304,"{'i ': 27, ' w': 27, 'wa': 9, 'as': 9, 'sn': 1...","[27, 27, 9, 9, 1, 1, 1, 28, 13, 1, 4, 13, 35, ..."
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"you can wear the hood by itself, wear it with ...",1987,"{'yo': 10, 'ou': 15, 'u ': 4, ' c': 15, 'ca': ...","[10, 15, 4, 15, 5, 21, 17, 28, 7, 12, 15, 26, ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,i liked nothing about this dress. the only rea...,1300,"{'i ': 21, ' l': 11, 'li': 6, 'ik': 3, 'ke': 3...","[21, 11, 6, 3, 3, 7, 29, 7, 4, 5, 27, 5, 8, 3,..."
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,i work in the wedding industry and have to wor...,1768,"{'i ': 12, ' w': 25, 'wo': 5, 'or': 22, 'rk': ...","[12, 25, 5, 22, 4, 15, 30, 25, 18, 61, 46, 34,..."

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Convert the text data into a numerical representation using CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['review'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, df['label'], test_size=0.2, random_state=42)

# Train a Multinomial Naive Bayes classifier
clf = MultinomialNB()
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

# Evaluate the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
# print(X)

Accuracy: 0.8585383949548658

In [12]:
clf.predict(X[40431])

array(['OR'], dtype='<U2')